- if @graph
  %img{ src: @graph }
-if @calculations
  %table
    %tr
      %th Cost Basis
      %th Expected Value
    %tr
      %th= @calculations[:cost_basis].round(2)
      %th= @calculations[:ev].round(2)

= form_for :position, url: '/ev' do |p|
  .underlying{ data: { underlying: true } }
    %h3 Underlying
    = p.fields_for :underlying do |u|
      = u.text_field :spot, placeholder: 'spot price'
      = u.text_field  :iv, placeholder: 'IV (ex: 15.3)'

  .positions{ data: { position: 'group' } }
    %h3 Positions
    = p.fields_for :legs do |l|
      = l.fields_for :'1' do |n|
        .single-position-form{ data: { position_number: '1'} }
          = n.radio_button :type, 'call'
          = n.label :type_call, 'call'
          = n.radio_button :type, 'put'
          = n.label :type_put, 'put'
          = n.radio_button :type, 'stock'
          = n.label :type_stock, 'stock'
          = n.text_field  :strike, placeholder: 'strike price (ignore for stock)'
          = n.text_field  :price, placeholder: 'price (absolute value)'
          = n.text_field  :dte, placeholder: 'DTE'
          = n.radio_button :stance, 'long'
          = n.label :stance_long, 'long'
          = n.radio_button :stance, 'short'
          = n.label :stance_short, 'short'
  = p.button 'Add another position', { 'data-new-position' => true }
  = p.submit 'Calculate'
